html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: monospace;
	font-size: 1.5vw;
}

div#root {
	height: 100%;
}

div#user-container {
	background: #fff;
	display: block;
	height: 100%;
	width: 100%;
}

div#user-container {
	ul {
		list-style: none;
		width: 100%;
	}
	li {
		font-size: 1.5rem;
		padding: 2.5rem;
		display: inline;
	}
}

div#chat-container {
	font-size: 2rem;
	width: 44ch;
	height: 2.5rem;
	caret-color: transparent;
	border-bottom: 0.20rem dotted #444;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-2rem) translateX(-22ch);
}

div#chat-container p {
	padding: 1em;
}
